.rotate-react {
    animation-name: rotate-icon;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 9999;
    position: fixed;
    bottom: 16px;
    left: 16px;
    width: 96px;
    height: 96px;
}

@keyframes rotate-icon {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@-o-keyframes rotate-icon {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}

@-webkit-keyframes rotate-icon {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}